{% extends 'layouts/base.html' %}

{% block content %}

<div class="container myprofile-wrapper">

    <div class="row welcome-row justify-content-center align-items-center">
        <div class="col-12">
            <h1 class="profile-nav">Edit your Profile</h1>

            <!-- Display flashed messages. -->

            {% include 'components/message.html' %}
        </div>
    </div>

    <form id="edit-form" method="POST">

        <div class="jumbotron profile-jumbo">

            <div class="row">

                <div class="col-12 justify-content-center">
                    <h3 class="profile-heading">
                        <img class="profile-parts" src="/static/img/header.png" />

                    </h3>
                </div>
                <div class="col-12 col-md-6">



                    <label class="profile-label" for="profile-shortDesc">
                        Short Description
                    </label>
                    <input id="profile-shortDesc" name="shortDescription" class="form-control" type="text"
                        maxlength="200" value="{{username.shortDescription}}">
                </div>



                <div class="col-12 col-md-6">


                    <label class="profile-label" for="profile-img">
                        Profile Image.
                    </label>
                    <small>Please enter the URL of your profile image</small>
                    <input id="profileImg" name="imgURL" class="form-control" type="text" maxlength="200"
                        value="{{username.imgURL}}">

                </div>
            </div>



            <div class="form-group">
                <div class="row">

                    <div class="col-12">
                        <label class="profile-label" for="profile-district">
                            District
                        </label>
                    </div>

                    <div class="col-12">

                        <select class="form-control" name="district" id="profileSelect">
                            <option value="Mitte">Mitte</option>
                            <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
                            <option value="Pankow">Pankow</option>
                            <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
                            <option value="Spandau">Spandau</option>
                            <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
                            <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
                            <option value="Neukölln">Neukölln</option>
                            <option value="Treptow-Köpenick">Treptow-Köpenick</option>
                            <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
                            <option value="Lichtenberg">Lichtenberg</option>
                            <option value="Reinickendorf">Reinickendorf</option>

                        </select>
                    </div>



                </div>
            </div>

        </div>

        <div class="jumbotron profile-jumbo">
            <div class="form-group">



                <div class="col-12 justify-content-center">

                    <h3 class="profile-heading">
                        <img class="profile-parts" src="/static/img/body.png" />

                    </h3>

                </div>

                <!-- MY SKILLS SECTION -->

                <div class="col-12">
                    <label class="profile-label" for="profile-skills">
                        My skills
                    </label>
                </div>

                <!-- The Tabs -->

                <!-- Skill tabs, code for nav tabs taken from https://www.w3schools.com/bootstrap4/bootstrap_navs.asp -->
                <div class="row">
                    <nav>
                        <ul class="nav nav-tabs">

                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#skillsTab" id="skills-tab"
                                    role="tab" aria-controls="skills"><i class="fas fa-share-alt"></i> I'm
                                    proficient
                                    in...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#desiredSkillsTab" id="desiredSkills-tab"
                                    role="tab" aria-controls="desiredSkills"><i class="fas fa-search"></i> Looking
                                    for...</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- Tab Contents -->

                <div class="row">

                    <div class="tab-content">



                        <!-- Begin "I'm proficient in..." Skills Tab -->
                        <div class="tab-pane container fade show active" id="skillsTab" role="tabpanel"
                            aria-labelledby="skills-tab">

                            {% for skill in skills %}


                            <div class="profile-skill-column">
                                <div class="col-12">

                                    {% if skill not in username.skills %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="skills" value="{{skill}}"
                                            id="skill-box">
                                        <label class="form-check-label" for="skill-box">
                                            {{skill}}
                                        </label>
                                    </div>
                                    {% endif %}

                                    {% if skill in username.skills %}

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="skills" value="{{skill}}"
                                            id="skill-box" checked>
                                        <label class="form-check-label" for="skill-box">
                                            {{skill}}
                                        </label>
                                    </div>

                                    {% endif %}
                                </div>

                            </div>


                            {% endfor %}


                            <!-- End "I'm proficient in..." Skills Tab -->
                        </div>


                        <!-- Begin "Looking for..." desired skills tab -->


                        <div class="tab-pane container fade show" id="desiredSkillsTab" role="tabpanel"
                            aria-labelledby="desiredSkills-tab">

                            {% for skill in skills %}
                            <div class="profile-skill-column">

                                <div class="col-12">

                                    {% if skill not in username.desiredSkills %}

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="desiredSkills"
                                            value="{{skill}}" id="skill-box">
                                        <label class="form-check-label" for="skill-box">
                                            {{skill}}
                                        </label>
                                    </div>
                                    {% endif %}

                                    {% if skill in username.desiredSkills %}

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="desiredSkills"
                                            value="{{skill}}" id="skill-box" checked>
                                        <label class="form-check-label" for="skill-box">
                                            {{skill}}
                                        </label>
                                    </div>
                                    {% endif %}

                                </div>

                            </div>
                            <!-- End "Looking for..." desired skills tab -->
                            {% endfor %}
                        </div>


                    </div>

                </div>
            </div>

            <!-- DESCRIPTION SECTION -->

            <div class="row">
                <div class="col-12">
                <label class="profile-label" for="profile-description">
                    Full Description
                </label>
                <input class="form-control" type="textarea" id="profile-description" name="description" rows="3"
                    maxlength="500" rows="3" value="{{username.description}}"></input>
                </div>
            </div>
            <!-- COMMUNICATION STYLE SECTION -->

            <div class="row">


                <div class="col-6">
                    <label class="profile-label" for="profile-commstyle">
                        Communication Style
                    </label>


                    {% for commstyle in commstyles %}

                    {% if commstyle not in username.communicationStyle %}

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="communicationStyle" value="{{commstyle}}"
                            id="comm-box">
                        <label class="form-check-label" for="comm-box">
                            {{commstyle}}
                        </label>
                    </div>

                    {% endif %}

                    {% if commstyle in username.communicationStyle %}

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="communicationStyle" value="{{commstyle}}"
                            id="comm-box" checked>
                        <label class="form-check-label" for="comm-box">
                            {{commstyle}}
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>




                <!-- OTHER SECTION -->

                <div class="col-6">
                    <label class="profile-label" for="profile-other">
                        Other
                    </label>


                    {% for other in other %}

                    {% if other not in username.otherDetails %}

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="other" value="{{other}}" id="other-box">
                        <label class="form-check-label" for="other-box">
                            {{other}}
                        </label>
                    </div>

                    {% endif %}

                    {% if other in username.otherDetails %}

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="other" value="{{other}}" id="other-box"
                            checked>
                        <label class="form-check-label" for="other-box">
                            {{other}}
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>


            </div>
        </div>

        <div class="jumbotron profile-jumbo">


            <div class="row">

                <div class="col-12">
                    <h3 class="profile-heading">
                            <img class="profile-parts" src="/static/img/footer.png" />

                    </h3>
                </div>

                <div class="col-12">



                    <label class="contact" for="profile-contact">
                        Github
                    </label>
                    <input id="github" class="form-control" type="text" name="github" maxlength="50"
                        value="{{username.github}}">{{username.github}}
                </div>

            </div>
        </div>

        <div class="row justify-content-center">

            <button type="submit" class="btn btn-primary btn-large logreg-btn mt-5 mb-5 ml-0" name="btn"
                value="save">Save
                Changes</button>
        </div>
    </form>



</div>



{% endblock %}
