{% extends 'layouts/base.html' %}

{% block content %}



<section id="hero">

    <div class="img-overlay-index">&nbsp;</div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12 d-flex justify-content-center align-items-center d-block" id="hero-content">


                <div class="h-text text-center">
                    <img src="/static/img/logos/tandev_v1_darkblue.svg" class="img-fluid main-logo"
                        alt="tandev-logo-gradient">
                    <h2 id="lead">exchange your skills with other developers and designers!</h2>

                </div>
            </div>

            <!-- If the user is logged in they see a prominently placed "Sign up!" button.
            If they are not logged in, the button text is replaced by "My Account". -->

            {% if loggedIn != True %}
            <div class="col-12 d-block" id="btn-div">

                <a href="{{url_for('register', _anchor = 'register-tab')}}" class="btn btn-primary btn-large hero-btn"
                    id="hero-btn">Sign up!</a>

            </div>
            {% endif %}

            {% if loggedIn == True %}

            <div class="col-12 d-block" id="btn-div">

                <a href="{{url_for('profile', username=session['username'])}}" class="btn btn-primary btn-large hero-btn"
                    id="hero-btn">My Account</a>

            </div>

            {% endif %}


        </div>


    </div>


</section>

<section id="carousel-section">

    <!-- The carousel on the index page, which cycles through a total of 6 random profiles in slides of two Bootstrap each. -->

    <div class="col-12">
        <h3 class="heading text-center">See our users
        </h3>

        <div class="heading-ul"></div>
    </div>

    <div class="container">
        <!-- The carousel on the index page, which cycles through a total of 6 random profiles in slides of two Bootstrap each. -->
        <!-- Much of the carousel code on this section was taking from Anna Greaves' index.html page for her FamilyHub project. Link: https://github.com/Code-Institute-Submissions/familyhub/blob/master/templates/pages/index.html -->

        <div class="carousel slide carousel-multi-item" data-ride="carousel" id="index-carousel">


            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--carousel slide-->

                {% for profile in carousel %}

                {% if loop.index % 2 == 1 %}
                <div class="carousel-item">

                    <div class="card-deck">

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 d-none d-md-block">
                                {% include 'components/profile_card.html' %}
                            </div>

                            {% endif %}

                            {% if loop.index % 2 == 0 %}
                            <div class="col-12 col-md-6">
                                {% include 'components/profile_card.html' %}
                            </div>
                        </div>

                    </div>
                </div>

                {% endif %}
                {% endfor %}

                <!-- End inner carousel -->
            </div>
            <div class="indicator-wrapper">
                <ol class="carousel-indicators">
                    <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#index-carousel" data-slide-to="1" class></li>
                    <li data-target="#index-carousel" data-slide-to="2" class></li>
                </ol>
            </div>

            <!-- End carousel wrapper -->

        </div>

        <!-- End container -->

    </div>

</section>



{% endblock %}