{% extends 'layouts/base.html' %}

{% block content %}



<section id="hero">

    <div class="img-overlay">&nbsp;</div>

    <div class="container-fluid">
    <div class="row">

        <div class="col-12 d-flex justify-content-center align-items-center d-block" id="hero-content">


            <div class="h-text text-center">
                <img src="/static/img/logos/tandev_v1_darkblue.svg" class="img-fluid main-logo" alt="tandev-logo-gradient">
                <h2 id="lead">exchange your skills with other developers and designers!</h2>

            </div>
        </div>
        <div class="col-12 d-block" id="btn-div">

            <a href="#" class="btn btn-primary btn-large" id="hero-btn">Sign up!</a>

        </div>



    </div>


</div>


</section>

<section id="index-carousel">

    <div class="section-header"

</section>



{% endblock %}