{% extends 'layouts/base.html' %}

{% block content %}



<section id="hero">

    <div class="img-overlay-index">&nbsp;</div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12 d-flex justify-content-center align-items-center d-block" id="hero-content">


                <div class="h-text text-center">
                    <img src="/static/img/logos/tandev_v1_darkblue.svg" class="img-fluid main-logo"
                        alt="tandev-logo-gradient">
                    <h2 id="lead">exchange your skills with other developers and designers!</h2>

                </div>
            </div>
            <div class="col-12 d-block" id="btn-div">

                <a href="#" class="btn btn-primary btn-large" id="hero-btn">Sign up!</a>

            </div>



        </div>


    </div>


</section>

<section id="index-carousel">

    <!-- The carousel on the index page, which cycles through a total of 6 random profiles in slides of two Bootstrap each. -->

    <div class="col-12">
        <h3 class="heading text-center">See our users
        </h3>

        <div class="heading-ul"></div>
    </div>

    <div class="container">
        <!-- The carousel on the index page, which cycles through a total of 6 random profiles in slides of two Bootstrap each. -->

        <div id="index-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
    

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--carousel slide-->

                {% for profile in carousel %}

                {% if loop.index % 2 == 1 %}
                <div class="carousel-item">

                    <div class="card-deck">

                        <div class="row" class="justify-content-center">
                            <div class="col-12 col-md-6">
                                <a href="#">
                                    <div class="card">
                                        <img src="{{profile.imgUrl}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{profile.username}} Card 1</h5>
                                            <p class="card-text">{{profile.shortDescription}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="card-callout"><i class="fas fa-search-plus card-icon"
                                                    data-fa-transform="shrink-3"></i>Click for more!</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            {% endif %}

                            {% if loop.index % 2 == 0 %}
                            <div class="col-12 col-md-6">
                                <a href="#">
                                    <div class="card">
                                        <img src="{{profile.imgUrl}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{profile.username}} Card 2</h5>
                                            <p class="card-text">{{profile.shortDescription}}</p>
                                        </div>
                                        <div class="card-footer">
                                            <p class="card-callout"><i class="fas fa-search-plus card-icon"
                                                    data-fa-transform="shrink-3"></i>Click for more!</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                {% endif %}
                {% endfor %}

                <!-- End inner carousel -->
            </div>

            <ol class="carousel-indicators">
                <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#index-carousel" data-slide-to="1"></li>
                <li data-target="#index-carousel" data-slide-to="2"></li>
            </ol>


            <!-- End carousel wrapper -->

        </div>

        <!-- End container -->

    </div>

</section>



{% endblock %}