<!-- templates/signup.html -->

{% extends 'layouts/base.html' %}

{% block content %}

<div class="container logreg-wrapper">


    <div class="row justify-content-center">

        <!-- Create centered jumbotron -->

        <div class="jumbotron form-jumbo">
            <div class="col-12">

                <!-- Create separate login and register tabs. -->

                <nav>
                    <ul class="nav nav-tabs">

                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#loginTab" id="login-tab" role="tab"
                                aria-controls="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#registerTab"
                                id="register-tab" role="tab" aria-controls="register"><i
                                    class="fas fa-user-plus"></i> Register</a>
                        </li>

                    </ul>
                </nav>


                <!-- Tab Contents -->

                <div class="tab-content">

                    <!-- Begin Login Tab -->
                    <div class="tab-pane container fade show active" id="loginTab" role="tabpanel" aria-labelledby="login-tab">


                        {% include 'components/login_form.html' %}

                    </div>

                    <!-- Begin Register Tab -->

                    <div class="tab-pane container fade" id="registerTab" role="tabpanel" aria-labelledby="register-tab">

                        {% include 'components/register_form.html' %}

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}