{% extends 'layouts/base.html' %}

{% block content %}

<div class="container myprofile-wrapper">

    <div class="row welcome-row justify-content-center align-items-center">
        <div class="col-12">
            <h1>Welcome, {{username}}</h1>
        </div>


        <div class="col-12 page-header-box">
            <h3 class="heading text-center">My Profile</h1>
                <div class="heading-ul"></div>
        </div>



    </div>

    <form id="profile-form" method="POST">

        <div class="form-group">

            <div class="form-row">

                <div class="col-12">
                    <h3 class="heading">
                        < header>
                            </header>
                    </h3>
                </div>
                <div class="col-6">



                    <label class="profile-label" for="profile-shortDesc">
                        Short Description
                    </label>
                    <input id="profile-shortDesc" name="shortDescription" class="form-control" type="text"
                        maxlength="200" placeholder="Keep it short and sweet!" value required>
                </div>



                <div class="col-6">


                    <label class="profile-label" for="profile-shortDesc">
                        Profile Image.
                    </label>
                    <small>Please enter the URL of your profile image</small>
                    <input id="profileImg" name="imgURL" class="form-control" type="text" maxlength="200"
                        placeholder="http://www.picturehost.com/mypic.jpg" value required>

                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="form-row">

                <div class="col-12">
                    <label class="profile-label" for="profile-shortDesc">
                        District
                    </label>
                </div>

                <div class="col-12">

                    <select class="form-control" name="district" id="profileSelect">
                        <option value="Mitte">Mitte</option>
                        <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
                        <option value="Pankow">Pankow</option>
                        <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
                        <option value="Spandau">Spandau</option>
                        <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
                        <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
                        <option value="Neukölln">Neukölln</option>
                        <option value="Treptow-Köpenick">Treptow-Köpenick</option>
                        <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
                        <option value="Lichtenberg">Lichtenberg</option>
                        <option value="Reinickendorf">Reinickendorf</option>

                    </select>
                </div>



            </div>
        </div>
        <div class="form-group">

            <div class="form-row">

                <div class="col-12">

                    <h3 class="heading">
                        < body>
                            </header>
                    </h3>

                </div>

                <!-- MY SKILLS SECTION -->

                <div class="col-12">
                    <label class="profile-label" for="profile-shortDesc">
                        My skills
                    </label>
                </div>

                <!-- Python skill group -->

                <div class="col-12">
                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox ">
                            <input class="form-check-input" id="python-box" type="checkbox" name="skill" value="python">
                            <label class="form-check-label" for="python-box">
                                Python
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="python-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="python-beginner" name="python" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="python-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="python-intermediate" name="python" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="python-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="python-advanced" name="advanced" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="python-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- SQL FORM GROUP -->

                    <div class="form-group skill-field">

                            <div class="form-check abc-checkbox">
                                <input class="form-check-input" id="sql-box" type="checkbox" name="skill" value="sql">
                                <label class="form-check-label" for="sql-box">
                                    SQL
                                </label>
                            </div>
                        </div>
    
                        <div class="skill-options" id="sql-options">
                            <div class="form-inline">
                                <div class="form-check abc-checkbox ">
                                    <input class="form-check-input" id="sql-beginner" name="sql" value="beginner"
                                        type="checkbox">
                                    <label class="form-check-label" for="sql-beginner">
                                        Beginner
                                    </label>
                                </div>
                            </div>
    
                            <div class="form-inline">
                                <div class="form-check abc-checkbox ">
                                    <input class="form-check-input" id="sql-intermediate" name="sql" value="intermediate"
                                        type="checkbox">
                                    <label class="form-check-label" for="sql-intermediate">
                                        Intermediate
                                    </label>
                                </div>
                            </div>
    
                            <div class="form-inline">
                                <div class="form-check abc-checkbox ">
                                    <input class="form-check-input" id="sql-advanced" name="sql" value="advanced"
                                        type="checkbox">
                                    <label class="form-check-label" for="sql-advanced">
                                        Advanced
                                    </label>
                                </div>
                            </div>
                        </div>




                </div>


            </div>
        </div>
</div>
<button type="submit" class="btn btn-primary btn-large logreg-btn my-auto" name="btn" value="publish">Publish
    your Profile</button>
</form>






</div>

{% endblock %}