{% extends 'layouts/base.html' %}

{% block content %}

<div class="container myprofile-wrapper">

    <div class="row welcome-row justify-content-center align-items-center">
        <div class="col-12">
            <h1>Welcome, {{username}}</h1>
        </div>


        <div class="col-12 page-header-box">
            <h3 class="heading text-center">My Profile</h1>
                <div class="heading-ul"></div>
        </div>



    </div>

    <form id="profile-form" method="POST">

        <div class="form-group">

            <div class="form-row">

                <div class="col-12">
                    <h3 class="heading">
                        < header>
                            </header>
                    </h3>
                </div>
                <div class="col-6">



                    <label class="profile-label" for="profile-shortDesc">
                        Short Description
                    </label>
                    <input id="profile-shortDesc" name="shortDescription" class="form-control" type="text"
                        maxlength="200" placeholder="Keep it short and sweet!" value required>
                </div>



                <div class="col-6">


                    <label class="profile-label" for="profile-shortDesc">
                        Profile Image.
                    </label>
                    <small>Please enter the URL of your profile image</small>
                    <input id="profileImg" name="imgURL" class="form-control" type="text" maxlength="200"
                        placeholder="http://www.picturehost.com/mypic.jpg" value required>

                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="form-row">

                <div class="col-12">
                    <label class="profile-label" for="profile-shortDesc">
                        District
                    </label>
                </div>

                <div class="col-12">

                    <select class="form-control" name="district" id="profileSelect">
                        <option value="Mitte">Mitte</option>
                        <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
                        <option value="Pankow">Pankow</option>
                        <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
                        <option value="Spandau">Spandau</option>
                        <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
                        <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
                        <option value="Neukölln">Neukölln</option>
                        <option value="Treptow-Köpenick">Treptow-Köpenick</option>
                        <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
                        <option value="Lichtenberg">Lichtenberg</option>
                        <option value="Reinickendorf">Reinickendorf</option>

                    </select>
                </div>



            </div>
        </div>
        <div class="form-group">

            <div class="form-row">



                <div class="col-12">

                    <h3 class="heading">
                        < body>
                            </header>
                    </h3>

                </div>

                <div class="col-12">
                    <label class="profile-label" for="profile-shortDesc">
                        My skills
                    </label>
                </div>

                <div class="skill-field">


                    <fieldset class="starability-checkmark">
                        <legend>Python</legend>

                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                            aria-label="No skills" />
                        <label for="no-rate" class="no-rate" title="Terrible">No skill</label>
                        <input type="radio" id="python-beginner" name="rating" value="1" />
                        <label for="python-beginner" title="Beginner">0 Beginner</label>
                        <input type="radio" id="python-intermediate" name="rating" value="2" />
                        <label for="python-intermediate" title="Intermediate">1 Intermediate</label>
                        <input type="radio" id="python-advanced" name="rating" value="3" />
                        <label for="python-advanced" title="Advanced">3 Advanced</label>

                    </fieldset>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-large logreg-btn my-auto" name="btn"
        value="publish">Publish your Profile</button>
    </form>






</div>

{% endblock %}