{% extends 'layouts/base.html' %}

{% block content %}

<div class="container myprofile-wrapper">

    <div class="row welcome-row justify-content-center align-items-center">
        <div class="col-12">
            <h1>Welcome, {{username}}</h1>
        </div>


        <div class="col-12 page-header-box">
            <h3 class="heading text-center">My Profile</h1>
                <div class="heading-ul"></div>
        </div>



    </div>

    <form id="profile-form" method="POST">

        <div class="form-group">

            <div class="form-row">

                <div class="col-12">
                    <h3 class="heading">
                        < header>
                            </header>
                    </h3>
                </div>
                <div class="col-6">



                    <label class="profile-label" for="profile-shortDesc">
                        Short Description
                    </label>
                    <input id="profile-shortDesc" name="shortDescription" class="form-control" type="text"
                        maxlength="200" placeholder="Keep it short and sweet!" value required>
                </div>



                <div class="col-6">


                    <label class="profile-label" for="profile-shortDesc">
                        Profile Image.
                    </label>
                    <small>Please enter the URL of your profile image</small>
                    <input id="profileImg" name="imgURL" class="form-control" type="text" maxlength="200"
                        placeholder="http://www.picturehost.com/mypic.jpg" value required>

                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="form-row">

                <div class="col-12">
                    <label class="profile-label" for="profile-shortDesc">
                        District
                    </label>
                </div>

                <div class="col-12">

                    <select class="form-control" name="district" id="profileSelect">
                        <option value="Mitte">Mitte</option>
                        <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
                        <option value="Pankow">Pankow</option>
                        <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
                        <option value="Spandau">Spandau</option>
                        <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
                        <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
                        <option value="Neukölln">Neukölln</option>
                        <option value="Treptow-Köpenick">Treptow-Köpenick</option>
                        <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
                        <option value="Lichtenberg">Lichtenberg</option>
                        <option value="Reinickendorf">Reinickendorf</option>

                    </select>
                </div>



            </div>
        </div>
        <div class="form-group">

            <div class="form-row">

                <div class="col-12">

                    <h3 class="heading">
                        < body>
                            </header>
                    </h3>

                </div>

                <!-- MY SKILLS SECTION -->

                <div class="col-12">
                    <label class="profile-label" for="profile-shortDesc">
                        My skills
                    </label>
                </div>


                <div class="col-12 col-md-6">
                    <div class="form-group skill-field">

                        <!-- Begin FRONTEND column. -->

                        Frontend

                        <!-- CSS FORM GROUP -->

                        <div class="form-check abc-checkbox form-inline">
                            <input class="form-check-input" id="css-box" type="checkbox" name="skill" value="css">
                            <label class="form-check-label" for="css-box">
                                CSS
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="css-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="css-beginner" name="css" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="css-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="css-intermediate" name="css" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="css-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="css-advanced" name="advanced" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="css-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- JAVASCRIPT FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="javascript-box" type="checkbox" name="skill"
                                value="javascript">
                            <label class="form-check-label" for="javascript-box">
                                JavaScript
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="javascript-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="javascript-beginner" name="javascript"
                                    value="beginner" type="checkbox">
                                <label class="form-check-label" for="javascript-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="javascript-intermediate" name="javascript"
                                    value="intermediate" type="checkbox">
                                <label class="form-check-label" for="javascript-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="javascript-advanced" name="javascript"
                                    value="advanced" type="checkbox">
                                <label class="form-check-label" for="javascript-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- REACT FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox ">
                            <input class="form-check-input" id="react-box" type="checkbox" name="skill" value="react">
                            <label class="form-check-label" for="react-box">
                                React
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="react-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="react-beginner" name="react" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="react-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="react-intermediate" name="react"
                                    value="intermediate" type="checkbox">
                                <label class="form-check-label" for="react-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="react-advanced" name="advanced" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="react-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- VUE FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="vue-box" type="checkbox" name="skill" value="vue">
                            <label class="form-check-label" for="vue-box">
                                Vue
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="vue-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="vue-beginner" name="vue" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="vue-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="vue-intermediate" name="vue" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="vue-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="vue-advanced" name="vue" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="vue-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- ANGULAR FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox ">
                            <input class="form-check-input" id="angular-box" type="checkbox" name="skill"
                                value="angular">
                            <label class="form-check-label" for="angular-box">
                                Angular
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="angular-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="angular-beginner" name="angular" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="angular-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="angular-intermediate" name="angular"
                                    value="intermediate" type="checkbox">
                                <label class="form-check-label" for="angular-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="angular-advanced" name="advanced" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="angular-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-12 col-md-6">

                    <!-- BEGIN OTHER COLUMN. -->
                    Other


                    <!-- UX FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="ux-box" type="checkbox" name="skill" value="ux">
                            <label class="form-check-label" for="ux-box">
                                UX
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="ux-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="ux-beginner" name="ux" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="ux-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="ux-intermediate" name="ux" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="ux-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="ux-advanced" name="ux" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="ux-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- DESIGN FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="design-box" type="checkbox" name="skill" value="design">
                            <label class="form-check-label" for="design-box">
                                Design
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="design-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="design-beginner" name="design" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="design-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="design-intermediate" name="design"
                                    value="intermediate" type="checkbox">
                                <label class="form-check-label" for="design-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="design-advanced" name="design" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="design-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>



                    <!-- SQL FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="sql-box" type="checkbox" name="skill" value="sql">
                            <label class="form-check-label" for="sql-box">
                                SQL
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="sql-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="sql-beginner" name="sql" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="sql-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="sql-intermediate" name="sql" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="sql-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="sql-advanced" name="sql" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="sql-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- END OTHER  COLUMN -->

                </div>


                <div class="col-12 col-md-6">

                    <!-- Begin BACKEND column -->

                    Backend



                    <!-- PHP FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="php-box" type="checkbox" name="skill" value="php">
                            <label class="form-check-label" for="php-box">
                                PHP
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="php-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="php-beginner" name="php" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="php-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="php-intermediate" name="php" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="php-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="php-advanced" name="php" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="php-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- RUBY FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="ruby-box" type="checkbox" name="skill" value="ruby">
                            <label class="form-check-label" for="ruby-box">
                                Ruby
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="ruby-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="ruby-beginner" name="ruby" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="ruby-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="ruby-intermediate" name="ruby" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="ruby-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="ruby-advanced" name="ruby" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="ruby-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- C++ FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="c++-box" type="checkbox" name="skill" value="c++">
                            <label class="form-check-label" for="c++-box">
                                C++
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="c++-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="c++-beginner" name="c++" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="c++-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="c++-intermediate" name="c++" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="c++-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="c++-advanced" name="c++" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="c++-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- C# FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="c#-box" type="checkbox" name="skill" value="c#">
                            <label class="form-check-label" for="c#-box">
                                C#
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="c#-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="c#-beginner" name="c#" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="c#-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="c#-intermediate" name="c#" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="c#-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="c#-advanced" name="c#" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="c#-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- JAVA FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="Java-box" type="checkbox" name="skill" value="java">
                            <label class="form-check-label" for="Java-box">
                                Java
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="java-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="java-beginner" name="java" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="java-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="java-intermediate" name="java" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="java-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="java-advanced" name="java" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="java-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12  col-md-6">
                    <!-- RUST FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="rust-box" type="checkbox" name="skill" value="rust">
                            <label class="form-check-label" for="rust-box">
                                Rust
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="rust-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="rust-beginner" name="rust" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="rust-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="rust-intermediate" name="rust" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="rust-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="rust-advanced" name="rust" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="rust-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- GO FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="go-box" type="checkbox" name="skill" value="go">
                            <label class="form-check-label" for="go-box">
                                Go
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="go-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="go-beginner" name="go" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="go-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="go-intermediate" name="go" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="go-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="go-advanced" name="go" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="go-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- SWIFT FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="swift-box" type="checkbox" name="skill" value="swift">
                            <label class="form-check-label" for="swift-box">
                                Swift
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="swift-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="swift-beginner" name="swift" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="swift-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="swift-intermediate" name="swift"
                                    value="intermediate" type="checkbox">
                                <label class="form-check-label" for="swift-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="swift-advanced" name="swift" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="swift-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                    <!-- KOTLIN FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="kotlin-box" type="checkbox" name="skill" value="kotlin">
                            <label class="form-check-label" for="kotlin-box">
                                Kotlin
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="kotlin-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="kotlin-beginner" name="kotlin" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="kotlin-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="kotlin-intermediate" name="kotlin"
                                    value="intermediate" type="checkbox">
                                <label class="form-check-label" for="kotlin-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="kotlin-advanced" name="kotlin" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="kotlin-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- PERL FORM GROUP -->

                    <div class="form-group skill-field">

                        <div class="form-check abc-checkbox">
                            <input class="form-check-input" id="perl-box" type="checkbox" name="skill" value="perl">
                            <label class="form-check-label" for="perl-box">
                                Perl
                            </label>
                        </div>
                    </div>

                    <div class="skill-options" id="perl-options">
                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="perl-beginner" name="perl" value="beginner"
                                    type="checkbox">
                                <label class="form-check-label" for="perl-beginner">
                                    Beginner
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="perl-intermediate" name="perl" value="intermediate"
                                    type="checkbox">
                                <label class="form-check-label" for="perl-intermediate">
                                    Intermediate
                                </label>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-check abc-checkbox ">
                                <input class="form-check-input" id="perl-advanced" name="perl" value="advanced"
                                    type="checkbox">
                                <label class="form-check-label" for="perl-advanced">
                                    Advanced
                                </label>
                            </div>
                        </div>
                    </div>


                </div>


                <!-- END BACKEND COLUMN -->

            </div>




        </div>
</div>
</div>
</div>
<button type="submit" class="btn btn-primary btn-large logreg-btn my-auto" name="btn" value="publish">Publish
    your Profile</button>
</form>






</div>

{% endblock %}