{% extends 'layouts/base.html' %}

{% block content %}

<div class="container-fluid settings-wrapper">


    <div class="row form-row justify-content-center align-items-center">

        <!-- Create centered jumbotron -->

        <div class="jumbotron form-jumbo mt-0">
            <div class="col-12 jumbo-content mx-auto">

                <div class="col-12 mt-0">
                    <h3 class="heading text-center">My Settings</h3>
                    <div class="heading-ul"></div>
                </div>

                <!-- Settings Form -->

                <form id="settingsform" method="POST">

                    <div class="form-group">
                        <label class="settings-label" for="settingsUsername">Username*</label>
                        <input type="text" class="form-control" id="settingsUsername" name="username"
                            value="{{username.username}}" readonly>
                        *<small> (Username cannot be changed.)</small>
                    </div>

                    <div class="form-group">
                        <label class="settings-label" for="settingsPassword">Password</label>
                        <input type="password" class="form-control" name="password" id="settingsPassword"
                            value="{{username.password}}" {% if edit != True %} readonly {% endif %}>
                        <input type="checkbox" class="mt-1 mb-1" onclick="showPW()">Show Password
                    </div>
                    <div class="form-group">
                        <label class="settings-label" for="Email">E-Mail</label>
                        <input type="email" class="form-control" name="email" id="settingsEmail"
                            placeholder="myemail@email.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            title="email addresses must follow standard email pattern" value="{{username.email}}"
                            {% if edit != True %} readonly {% endif %}>
                    </div>

                    <!-- Edit Button  -->
                    <div class="row">


                        {% if edit == True %}

                        <button type="submit" class="btn btn-primary btn-large userarea-btn my-auto" name="btn"
                            value="save">Save Changes</button>

                        {% endif %}

                        {% if edit != True %}

                        <button type="submit" class="btn btn-primary btn-large userarea-btn my-auto" name="btn"
                            value="edit">Edit Settings</button>

                        {% endif %}

                        <button type="submit" class="btn btn-danger btn-large my-auto" name="btn" value="delete">Delete
                            Account</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    function showPW() {
        var x = document.getElementById("settingsPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

{% endblock %}