{% extends 'layouts/base.html' %}

{% block content %}

<div class="container-fluid settings-wrapper">

    <div class="row form-row justify-content-center align-items-center">

        <!-- Create centered jumbotron -->

        <div class="jumbotron form-jumbo mt-0">
            <div class="col-12 jumbo-content mx-auto">
                    {% include 'components/message.html' %}
                <div class="col-12 mt-0">
                    <h3 class="heading text-center">My Settings</h3>
                    <div class="heading-ul"></div>
                </div>

                <!-- Settings Form -->

                <form id="settingsform" method="POST">

                    <div class="form-group">
                        <label class="settings-label" for="settingsUsername">Username*</label>
                        <input type="text" class="form-control" id="Username" name="username"
                            value="{{username.username}}" readonly>
                        *<small> Username cannot be changed.</small>
                    </div>

                    <div class="form-group">
                        <label class="settings-label" for="settingsPassword">{% if edit == True %} New {% endif %}
                            Password*</label>
                        <input type="password" class="form-control" name="password" id="settingsPassword"
                            {% if edit != True %} placeholder="password" {% endif %} {% if edit == True %}
                            placeholder="new password" {% endif %} {% if edit != True %} readonly {% endif %}>
                        <input type="checkbox" class="mt-1 mb-1" onclick="showPW()">Show Password
                        {% if edit != True %} <small class="d-block">* tanDev does not show your current password for
                            security reasons.</small>{% endif %}
                    </div>
                    <div class="form-group">
                        <label class="settings-label" for="Email">E-Mail</label>
                        <input type="email" class="form-control" name="email" id="settingsEmail"
                            placeholder="myemail@email.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            title="email addresses must follow standard email pattern" value="{{username.email}}"
                            {% if edit != True %} readonly {% endif %}>
                    </div>

                    <!-- Edit Button  -->
                    <div class="row justify-content-center">


                        {% if edit == True %}

                        <div class="col-12 d-flex justify-content-center">

                            <button type="submit" class="btn btn-primary btn-large userarea-btn my-auto mt-1" name="btn"
                                value="save">Save Changes</button>

                        </div>
                        {% endif %}

                        {% if edit != True %}

                        <div class="col-12 d-flex justify-content-center">

                            <button type="submit" class="btn btn-primary btn-large userarea-btn my-auto mt-1" name="btn"
                                value="edit">Edit Settings</button>

                            <button type="button" class="btn btn-danger btn-large my-auto" name="btn"
                                data-toggle="modal" data-target="#deleteModal">Delete
                                Account</button>
                            {% endif %}

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete your account?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
                <form method="POST">
                    <button type="submit" class="btn btn-primary" name="btn" value="delete">Yes, delete my
                        account.</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No, don't delete my account.</button>
            </div>

        </div>
    </div>
</div>

<!-- Function that shows and hides the password upon clicking the checkbox. -->
<script>
    function showPW() {
        var x = document.getElementById("settingsPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

{% endblock %}