{% extends 'layouts/base.html' %}

{% block content %}

<!-- I used the following code snippet as a starting point for designing the user details page: https://bootsnipp.com/snippets/D0A6A-->

<div class="container user-wrapper">

    {% if preview == True %}

    <!-- Preview bar shows when user has created a new activity and have not yet chosen to publish it -->

    <div id="preview" class="pt-2">
        <h1>Preview</h1>
        <p>This is a preview of how your listing will look on tanDev. It is not published yet.</p>
        <strong>Click the "Publish" button on the bottom of the page to make your profile public.</strong>
    </div>
    {% endif %}

    {% include 'components/message.html' %}

    <div class="user-content">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 image-col">
                        <div class="user-image">
                            <img src="{{user.imgURL}}" class="profile-pic" alt="profile-image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex header-col justify-content-center">
                <div class="user-description">
                    <h1 class="username"> {{user.username}}</h1>
                    <h5>{{user.shortDescription}}</h5>
                    <h6 class="district"><i class="fas fa-map-marker-alt"></i> District: {{user.district}}</h6>
                </div>
            </div>
        </div>

        <div class="row skill-row profile-row">
            <div class="col-3">
                <i class="fa fa-code"></i>
                <h5 class="d-inline">Skills</h5>

            </div>



            <div class="col-9">

                {% for skill in user.skills %}
                <span class="tags skill-tags">{{ skill }}</span>

                {% endfor %}

            </div>
        </div>


        <div class="row des-skill-row profile-row">
            <div class="col-3">
                <i class="fas fa-search"></i>
                <h5 class="d-inline">Desired skills</h5>

            </div>

            <div class="col-9">

                {% for skill in user.desiredSkills %}
                <span class="tags des-skill-tags">{{ skill }}</span>

                {% endfor %}

            </div>
        </div>

        <div class="row comm-row profile-row">

            <div class="col-3">
                <i class="fas fa-at"></i>
                <h5 class="d-inline">Communication</h5>

            </div>


            <div class="col-9">
                {% for comm in user.communicationStyle %}

                {% if comm == "In person" %}

                <span class="tags comm-tags"><i class="far fa-comments"></i> In person</span>

                {% endif %}

                {% if comm == "Text" %}

                <span class="tags comm-tags"><i class="fas fa-envelope-square"></i> Text</span>

                {% endif %}

                {% if comm == "Video" %}

                <span class="tags comm-tags"><i class="fas fa-video"></i> Video</span>

                {% endif %}

                {% endfor %}
            </div>

        </div>

        <div class="row profile-row other-row">

            <div class="col-3">
                <i class="fas fa-at fa-lg"></i>
                <h5 class="d-inline">Other Details</h5>

            </div>


            <div class="col-9">
                {% for other in user.otherDetails %}

                {% if other == "Looking for Co-Founder" %}

                <span class="tags other-tags"><i class="fas fa-briefcase fa-lg"></i> Looking for Co-Founder</span>

                {% endif %}

                {% if other == "For Hire" %}

                <span class="tags other-tags"><i class="fas fa-money-bill"></i> Available for Hire</span>

                {% endif %}

                {% if other == "Project Work" %}

                <span class="tags other-tags"><i class="far fa-lightbulb"></i> Available for Projects</span>
                {% endif %}

                {% endfor %}
            </div>

        </div>

        {% if loggedIn == False %}

        <div class="row justify-content-center">
            Log in to see contact details!
            <div class="col-12">

            </div>
        </div>

        {% elif loggedIn == True %}


        <div class="row profile-row contact-row">

            <div class="col-3">
                <i class="fas fa-plug fa-lg"></i>
                <h5 class="d-inline">Contact</h5>

            </div>

            <div class="col-9 sm-logo-col justify-content-center d-flex">
                <a href="{{user.github}}"><img src="/static/img/logos/github-logo.svg" target="_blank"
                        class="sm-logo hvr-bounce-in" alt="github-logo"></a>

            </div>

        </div>

        <div class="row profile-row published-row">

            <h6>Published on: {{user.published}}</h6>
        </div>

        <div class="row heart-row justify-content-center">

            <form method="POST">
                <div class="form-check">
                    <input class="form-check-input" name="favorite" id="heart" type="checkbox" />
                    <label for="heart"><i class="fas fa-heart"></i></label>
                </div>
            </form>
        </div>




        {% endif %}




        {% if preview == True %}

        <div class="row justify-content-center">

            <div class="col-12 d-flex justify-content-center">

                <form id="pubdisc-form" method="POST">
                    <button type="submit" class="btn btn-primary btn-large userarea-btn" name="btn"
                        value="publish">Publish
                        on
                        tanDev</button>

                    <button type="submit" class="btn btn-primary btn-large userarea-btn" name="btn"
                        value="discard">Discard
                        changes</button>
                </form>
            </div>
        </div>
        {% endif %}

    </div>


</div>


{% endblock %}