{% block footer %}
<!-- column sizes in footer different on activities page because of filters bar on right making the width of the footer smaller -->
<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-4">
                <h4>Contact</h4>
                <p class="footer-p">

                    <i class="fas fa-at"></i> contact@tandev.com

                </p>

            </div>
            <div class="col-4">
                <h4>Created by</h4>

                <p class="footer-p">
                    <a href="https://github.com/synnea" target="_blank"><i class="fab fa-github github-logo"></i></a>
                </p>
            </div>

            <div class="col-4">
                <h4>Stay connected</h4>

                <p class="footer-p">

                    <ul class="list-inline social-links">
                        <li class="list-inline-item ">
                            <a target="_blank " href="# ">
                                <i class="fab fa-facebook social-icon hvr-bounce-in" aria-hidden="true "></i>
                                <span class="sr-only ">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a target="_blank " href="# ">
                                <i class="fab fa-twitter-square social-icon hvr-bounce-in" aria-hidden="true "></i>
                                <span class="sr-only ">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a target="_blank " href="# ">
                                <i class="fab fa-instagram social-icon hvr-bounce-in" aria-hidden="true "></i>
                                <span class="sr-only ">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item ">
                            <a target="_blank " href="# ">
                                <i class="fab fa-youtube-square social-icon hvr-bounce-in" aria-hidden="true "></i>
                                <span class="sr-only ">YouTube</span>
                            </a>
                        </li>
                    </ul>

                </p>
            </div>

        </div>

    </div>
</footer>

{% endblock %}