{% block navbar %}


<!-- BEGIN NAVBAR -->

<div class="container-fluid navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">

        <!-- Logo which serves as home button -->

        <a class="navLogo hvr-bounce-in" href="{{url_for('index')}}"><img
                src="/static/img/logos/tandev_v1_brightlightblue.svg" class="img-fluid navLogo" alt="logo"></a>


        {% if active == 'search' %}

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Filters</span>
        </button>



        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="hamburger"></span>
        </button>

        <!-- Dropdown Button -->


        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- Navbar Menu Items -->



            <ul class="navbar-nav ml-auto nav-fill w-50">

                <li class="nav-item main-nav-item" id="navAbout">
                    <a class="nav-link hvr-bounce-in" href="{{url_for('about')}}" id="navAboutLink">About</a>
                </li>

                <li class="nav-item main-nav-item" id="navSearch">
                    <a class="nav-link hvr-bounce-in" href="{{url_for('search', page_number = 1)}}" id="navSearchLink">Search</a>
                </li>

                <!-- If the user is logged in, they see the "Login/Register" navbar item.
                If they are not logged in, they see "My Account", with additional dropdown items. -->


                {% if loggedIn != True %}
                <li class="nav-item main-nav-item" id="navLogReg">
                    <a class="nav-link hvr-bounce-in" href="{{url_for('login')}}" id="navLogRegLink">Login/Register</a>
                </li>

                {% endif %}

                {% if loggedIn == True %}

                <li class="nav-item dropdown main-nav-item" id="navAccount">
                    <a class="nav-link hvr-bounce-in dropdown-toggle"
                        href="{{url_for('profile', username=session['username'])}}" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navAccount">
                        My Account</a>

                    <div class="dropdown-menu" id="account-dropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" id="dropdownProfile"
                            href="{{url_for('profile', username=session['username'])}}"><i class="fas fa-users"></i> My Profile</a>
                        <a class="dropdown-item" href="{{url_for('settings')}}"><i class="fas fa-cog"></i> Settings</a>
                        <a class="dropdown-item" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </li>

                {% endif %}
            </ul>
        </div>

    </nav>
</div>
{% endblock %}