html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 100%;
  font-size: 0.8em;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  text-decoration: none !important;
  color: black;
}

.container-fluid {
  padding: 0;
}

.navLogo {
  height: 8vh;
  width: 10vh;
  margin-left: 2vw;
}

@media (min-width: 1024px) {
  .navLogo {
    width: 15vh;
  }
}

.nav-link {
  color: #0B132B !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 992px) {
  .nav-link {
    color: white !important;
  }
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  background-color: auto;
}

@media (max-width: 992px) {
  .navbar-collapse {
    margin-right: 35%;
  }
}

.navbar-toggler {
  background-color: white;
}

.nav-link.scrolled {
  color: white !important;
}

.bg-light {
  background-color: transparent !important;
}

@media (max-width: 992px) {
  .bg-light {
    background-color: #0B132B !important;
  }
}

.bg-light.scrolled {
  background-color: #2581B0 !important;
}

@media (max-width: 992px) {
  .bg-light.scrolled {
    background-color: #0B132B !important;
  }
}

.page-header {
  font-family: 'Montserrat', 700;
  color: white;
  text-shadow: 1em 0.5em #0B132B;
  text-transform: uppercase;
}

h3.heading {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-size: 1.6rem;
  font-family: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: block;
}

.heading-ul {
  width: 3rem;
  height: 0.2rem;
  background-color: #2581B0;
  margin: 0 auto 8vh;
  display: block;
}

.heading-ul-large {
  width: 30rem;
  height: 0.1rem;
  background-color: #2581B0;
  margin: 0 auto;
  display: block;
}

footer {
  height: 10vh;
  position: relative;
  width: 100% !important;
  background-color: #0B132B;
  display: block;
  color: #2581B0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center !important;
}

@media (max-width: 768px) {
  footer {
    height: 35vh;
    font-size: 0.7em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 999;
}

@media (max-width: 768px) {
  .footer-col {
    margin-bottom: 1rem;
  }
}

.copyright {
  padding-bottom: 2rem;
}

col-4 {
  margin-left: 4vh;
}

ul {
  margin: 0;
}

.error > .message {
  color: #ee4266;
  font-size: 1.4em;
  font-weight: 700;
}

.success > .message {
  color: #049683;
  font-size: 1.4em;
  font-weight: 700;
}

.flashes {
  margin-right: 1em;
  margin-top: 1em;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 100%;
  font-size: 0.8em;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  text-decoration: none !important;
  color: black;
}

.container-fluid {
  padding: 0;
}

.navLogo {
  height: 8vh;
  width: 10vh;
  margin-left: 2vw;
}

@media (min-width: 1024px) {
  .navLogo {
    width: 15vh;
  }
}

.nav-link {
  color: #0B132B !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 992px) {
  .nav-link {
    color: white !important;
  }
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  background-color: auto;
}

@media (max-width: 992px) {
  .navbar-collapse {
    margin-right: 35%;
  }
}

.navbar-toggler {
  background-color: white;
}

.nav-link.scrolled {
  color: white !important;
}

.bg-light {
  background-color: transparent !important;
}

@media (max-width: 992px) {
  .bg-light {
    background-color: #0B132B !important;
  }
}

.bg-light.scrolled {
  background-color: #2581B0 !important;
}

@media (max-width: 992px) {
  .bg-light.scrolled {
    background-color: #0B132B !important;
  }
}

.page-header {
  font-family: 'Montserrat', 700;
  color: white;
  text-shadow: 1em 0.5em #0B132B;
  text-transform: uppercase;
}

h3.heading {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-size: 1.6rem;
  font-family: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: block;
}

.heading-ul {
  width: 3rem;
  height: 0.2rem;
  background-color: #2581B0;
  margin: 0 auto 8vh;
  display: block;
}

.heading-ul-large {
  width: 30rem;
  height: 0.1rem;
  background-color: #2581B0;
  margin: 0 auto;
  display: block;
}

footer {
  height: 10vh;
  position: relative;
  width: 100% !important;
  background-color: #0B132B;
  display: block;
  color: #2581B0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center !important;
}

@media (max-width: 768px) {
  footer {
    height: 35vh;
    font-size: 0.7em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 999;
}

@media (max-width: 768px) {
  .footer-col {
    margin-bottom: 1rem;
  }
}

.copyright {
  padding-bottom: 2rem;
}

col-4 {
  margin-left: 4vh;
}

ul {
  margin: 0;
}

.error > .message {
  color: #ee4266;
  font-size: 1.4em;
  font-weight: 700;
}

.success > .message {
  color: #049683;
  font-size: 1.4em;
  font-weight: 700;
}

.flashes {
  margin-right: 1em;
  margin-top: 1em;
}

#hero {
  background: url("/static/img/puzzle-uncropped-xs.jpg") center center no-repeat;
  background-size: cover !important;
  background-position: center center;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  position: relative;
  height: 60vh;
}

@media (min-width: 992px) {
  #hero {
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  #hero {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #hero {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  #hero {
    background: url("/static/img/puzzle-md.jpg");
    background-position: center center;
  }
}

@media (min-width: 1024px) {
  #hero {
    background: url("/static/img/puzzle-lg.jpg");
    background-position: center center;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  #hero {
    background: url("/static/img/puzzle-lg-cropped.jpg");
    background-position: center center;
    background-size: cover;
  }
}

#hero-content {
  height: 60vh;
}

@media (min-width: 992px) {
  #hero-content {
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  #hero-content {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #hero-content {
    height: 100vh;
  }
}

#h-text {
  text-align: center !important;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
}

#lead {
  margin-top: 5vh;
  font-size: 0.75rem !important;
  text-shadow: 0.1rem 0.1rem 0.8rem white;
}

@media (min-width: 1024px) {
  #lead {
    font-size: 1.5rem !important;
  }
}

.main-logo {
  max-width: 80%;
  margin-left: 1vh;
}

@media (min-width: 1024px) {
  .main-logo {
    max-width: 70%;
  }
}

.hero-btn {
  margin-top: 8vh;
  padding: 2vh 2vw;
  background-color: #11375f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74abe6", endColorstr="#10365f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: linear-gradient(#74abe6, #10365f);
  border-color: #10365f #10365f #081a2e;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 1024px) {
  .hero-btn {
    font-size: 1.5rem;
  }
}

.hero-btn:hover {
  background-color: #05081f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2eab", endColorstr="#04081e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: linear-gradient(#1b2eab, #04081e);
  border-color: #04081e #04081e black;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
  -webkit-font-smoothing: antialiased;
}

.img-overlay-index {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

#index-carousel {
  height: auto;
}

.card-deck {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40vh;
  margin-bottom: 35vh;
}

@media (min-width: 768px) {
  .card-deck {
    margin-top: 0;
    margin-bottom: 0;
    height: 80vh;
  }
}

.card {
  display: inline-block;
  width: 50vh;
  height: auto;
  margin-left: 2rem;
  max-width: 80%;
}

.card-title {
  color: #2581B0;
}

.card-text {
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}

.card-body {
  height: 30vh;
}

.card-footer {
  background-color: #2581B0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.carousel-row {
  max-width: 75%;
}

.card-icon {
  margin-right: 1rem;
}

.carousel-indicators {
  color: #0B132B;
  background-color: #2581B0;
  width: 20vh;
  margin: 0 auto;
}

.indicator-wrapper {
  margin: 10vh 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 100%;
  font-size: 0.8em;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  text-decoration: none !important;
  color: black;
}

.container-fluid {
  padding: 0;
}

.navLogo {
  height: 8vh;
  width: 10vh;
  margin-left: 2vw;
}

@media (min-width: 1024px) {
  .navLogo {
    width: 15vh;
  }
}

.nav-link {
  color: #0B132B !important;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 992px) {
  .nav-link {
    color: white !important;
  }
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  background-color: auto;
}

@media (max-width: 992px) {
  .navbar-collapse {
    margin-right: 35%;
  }
}

.navbar-toggler {
  background-color: white;
}

.nav-link.scrolled {
  color: white !important;
}

.bg-light {
  background-color: transparent !important;
}

@media (max-width: 992px) {
  .bg-light {
    background-color: #0B132B !important;
  }
}

.bg-light.scrolled {
  background-color: #2581B0 !important;
}

@media (max-width: 992px) {
  .bg-light.scrolled {
    background-color: #0B132B !important;
  }
}

.page-header {
  font-family: 'Montserrat', 700;
  color: white;
  text-shadow: 1em 0.5em #0B132B;
  text-transform: uppercase;
}

h3.heading {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-size: 1.6rem;
  font-family: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: block;
}

.heading-ul {
  width: 3rem;
  height: 0.2rem;
  background-color: #2581B0;
  margin: 0 auto 8vh;
  display: block;
}

.heading-ul-large {
  width: 30rem;
  height: 0.1rem;
  background-color: #2581B0;
  margin: 0 auto;
  display: block;
}

footer {
  height: 10vh;
  position: relative;
  width: 100% !important;
  background-color: #0B132B;
  display: block;
  color: #2581B0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center !important;
}

@media (max-width: 768px) {
  footer {
    height: 35vh;
    font-size: 0.7em;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 999;
}

@media (max-width: 768px) {
  .footer-col {
    margin-bottom: 1rem;
  }
}

.copyright {
  padding-bottom: 2rem;
}

col-4 {
  margin-left: 4vh;
}

ul {
  margin: 0;
}

.error > .message {
  color: #ee4266;
  font-size: 1.4em;
  font-weight: 700;
}

.success > .message {
  color: #049683;
  font-size: 1.4em;
  font-weight: 700;
}

.flashes {
  margin-right: 1em;
  margin-top: 1em;
}

.about-banner {
  background: url("/static/img/hero-cropped.jpg") center top no-repeat scroll;
  background-size: cover;
  height: 50vh;
}

@media (min-width: 1024px) {
  .about-banner {
    height: 80vh;
  }
}

@media (min-width: 1024px) {
  .about-banner {
    background: url("/static/img/hero.jpg") center top no-repeat scroll;
    background-size: cover;
  }
}

.page-header-box {
  height: 50vh;
}

@media (min-width: 1024px) {
  .page-header-box {
    height: 80vh;
  }
}

.img-overlay-about {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 50vh;
}

@media (min-width: 1024px) {
  .img-overlay-about {
    height: 80vh;
    top: 0;
  }
}

.about-text {
  width: 75%;
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  margin: 0 auto;
  padding-bottom: 10vh;
}

.footer-p {
  margin: 0;
}

#about-text {
  background-color: white;
}

.features {
  max-width: 80%;
  margin: 0 auto;
}

.features-jumbotron {
  margin-bottom: 0 !important;
  padding-bottom: 5rem;
  padding-top: 0 !important;
  border-radius: 0;
}

.feature-icon {
  margin: 3vh;
}

.feature-header {
  margin-bottom: 2rem;
  color: #1C2541;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 768px) {
  .wrapper {
    height: 350vh;
  }
}

#sidebar {
  background: #2581B0;
  color: #fff;
  padding-top: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 0;
  min-height: 100vh;
  max-height: 180vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  #sidebar {
    width: 800px !important;
    margin-left: 0;
  }
}

#sidebarCollapse {
  background-color: #ee4266;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 1024px) {
  #sidebarCollapse {
    margin-left: 15vw;
  }
}

@media (max-width: 768px) {
  #sidebarCollapse {
    margin-right: 5rem;
  }
}

#sidebarCollapse:hover {
  background-color: #75424B;
}

#sidebar.active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
}

@media (min-width: 768px) {
  #sidebar.active {
    margin-left: 0;
    width: 60%;
  }
}

a[data-toggle="collapse"] {
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#sidebar .sidebar-header {
  background: #2581B0;
  text-transform: uppercase;
}

#sidebar ul.components {
  border-bottom: 1px solid #7791B4;
}

#sidebar ul p {
  color: #fff;
}

#sidebar ul li a {
  font-size: 0.9em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7791B4;
  background: #8EDAF4;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #7791B4;
}

ul ul a {
  font-size: 0.7em !important;
  background: #7791B4;
}

.nav-tabs .nav-link {
  color: #0B132B !important;
}

.skill-column {
  padding: 1em;
}

@media (min-width: 768px) {
  .skill-column {
    padding: 2rem;
  }
}

.search-comm {
  padding: 1rem;
}

.abc-checkbox {
  margin-bottom: 0.5rem;
}

.top-filter-row {
  border: 1px solid white;
  padding: 1em;
}

.filter-row {
  border-bottom: 1px solid white;
  padding: 1em;
}

.selector-wrapper {
  margin: 1em;
  display: inline !important;
}

.filtercol {
  margin-left: 1rem;
}

.filter-header {
  margin: 1em;
}

.refresh {
  margin-left: 5.5em;
  margin-top: 0.5em;
}

.bootstrap-select > .dropdown-toggle {
  width: 80%;
  margin-left: 1em;
}

.search-btn {
  background-color: #05081f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2eab", endColorstr="#04081e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: linear-gradient(#1b2eab, #04081e);
  border-color: #04081e #04081e black;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
  -webkit-font-smoothing: antialiased;
}

#clear-btn {
  background-color: #ee4266;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-left: 15vw;
}

#clear-btn:hover {
  background-color: #75424B;
}

.search-btn:hover {
  background-color: #11375f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74abe6", endColorstr="#10365f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: linear-gradient(#74abe6, #10365f);
  border-color: #10365f #10365f #081a2e;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
}

#content {
  width: 0;
  height: 200vh;
}

@media (min-width: 768px) {
  #content {
    width: 70%;
  }
}

.content-visibility {
  display: none;
}

.search-row {
  height: 50vh;
  width: 100vw;
}

@media (min-width: 768px) {
  .search-row {
    width: 50vw;
  }
}

/* display .overlay when it has the .active class */
.search-overlay.active {
  display: block;
  opacity: 1;
}

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}

.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}

.disabled {
  color: gray;
}

.matches {
  background-color: #2581B0;
  color: white;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .matches {
    padding: 0.2rem;
    line-height: 1.6;
  }
}

.results {
  margin: 4rem;
  width: 70vw;
}

.paging {
  margin-top: 3vh;
}

.skill-desc {
  margin-left: 2vw;
}

.comm-desc {
  margin-left: 1vw;
}

.districtSelect {
  max-width: 15vw;
  margin-top: 2vh;
}

@media (max-width: 768px) {
  bootstrap-select > .dropdown-toggle {
    width: 80vw !important;
  }
}

#search-deck {
  margin-top: 10vh;
}

.deck-margin {
  margin-left: 15vw;
}

.logreg-wrapper {
  height: 140vh;
  background: url("/static/img/logreg-bg.jpg") center center no-repeat;
  background-size: cover !important;
  background-position: center center;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}

.form-jumbo {
  background: rgba(255, 255, 255, 0.3);
  width: 80%;
  height: auto;
  margin-top: 10vh;
  padding-top: 10vh;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .form-jumbo {
    padding-top: 10vh !important;
  }
}

@media (min-width: 1200px) {
  .form-jumbo {
    width: 50%;
  }
}

.form-row {
  margin: 0 !important;
}

.logreg-label {
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0B132B;
}

.jumbo-content {
  margin-top: 5vh;
}

@media (min-width: 768px) {
  .jumbo-content {
    max-width: 70%;
  }
}

.tab-nav-item {
  margin-top: 5vh;
  padding: 1em;
}

#registerform {
  margin-top: 5vh;
}

#loginform {
  margin-top: 5vh;
}

.logreg-btn {
  background-color: #11375f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74abe6", endColorstr="#10365f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: linear-gradient(#74abe6, #10365f);
  border-color: #10365f #10365f #081a2e;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  margin-left: 35%;
  margin-top: 2rem;
}

.logreg-btn:hover {
  background-color: #05081f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2eab", endColorstr="#04081e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: linear-gradient(#1b2eab, #04081e);
  border-color: #04081e #04081e black;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
  -webkit-font-smoothing: antialiased;
}

.myprofile-wrapper {
  height: auto;
}

.profile-group {
  width: 100%;
}

.welcome-row {
  height: 20vh;
  margin-top: 25vh;
}

#account-dropdown {
  background-color: #2581B0;
}

@media (min-width: 992px) {
  #account-dropdown {
    margin-left: 5vw;
  }
}

.profile-selectpicker {
  max-width: 50%;
  display: inline;
}

.profile-skill-column {
  padding: 0.3rem !important;
}

.profile-heading {
  font-size: 1.6rem;
  font-family: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 5vh;
}

.profile-jumbo {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .profile-jumbo {
    margin-top: 15vh;
  }
}

#profile-description {
  min-height: 15vh;
  height: auto;
  margin-bottom: 5vh;
}

.profile-messages {
  display: block;
  margin-top: 5vh;
}

.profile-label {
  margin-top: 2vh;
}

.profile-nav {
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  margin-left: 10vw;
}

.profile-subnav {
  font-family: 'Share Tech Mono', monospace;
  margin-left: 10vw;
  min-height: 10vh;
}

@media (max-width: 768px) {
  .profile-subnav {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.profile-parts {
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 15vh;
  margin: 2rem auto;
}

.d-none {
  display: none;
}

.userarea-btn {
  background-color: #11375f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#74abe6", endColorstr="#10365f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74abe6), to(#10365f));
  background-image: linear-gradient(#74abe6, #10365f);
  border-color: #10365f #10365f #081a2e;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  margin: 0 3rem;
}

.userarea-btn:hover {
  background-color: #05081f !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2eab", endColorstr="#04081e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b2eab), to(#04081e));
  background-image: linear-gradient(#1b2eab, #04081e);
  border-color: #04081e #04081e black;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
  -webkit-font-smoothing: antialiased;
}

#mobile-unpublish {
  margin-bottom: 10vh;
}

.user-wrapper {
  padding: 6%;
  text-align: center;
  height: auto;
  position: relative;
  margin-bottom: 10vh;
}

.user-content {
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px #b0b3b7;
          box-shadow: 0px 0px 4px 0px #b0b3b7;
  max-width: 70%;
  max-height: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .user-content {
    min-height: 150vh;
    max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .user-content {
    min-height: 240vh;
  }
}

.user-image {
  text-align: center;
  height: 50vh;
}

@media (max-width: 768px) {
  .user-image {
    height: 40vh;
  }
}

.user-image img {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  margin-top: 5vh;
}

@media (min-width: 768px) {
  .header-col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ud-col {
  max-width: 100%;
}

.tags {
  margin-left: 2rem;
}

.sm-logo {
  max-height: 5vh;
  max-width: 5vh;
  margin-left: 5vw;
}

.sm-logo-col {
  fill: #2581B0;
}

.heart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#preview {
  margin-bottom: 5vh !important;
}

.username {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 20vw;
  font-weight: 700;
  color: #1C2541;
  -webkit-animation: textshadow 8s infinite alternate;
          animation: textshadow 8s infinite alternate;
}

@media (max-width: 768px) {
  .username {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0 !important;
  }
}

@-webkit-keyframes textshadow {
  0% {
    text-shadow: 1px 1px 0px #333;
  }
  10% {
    text-shadow: 3px 3px 2px #333;
  }
  20% {
    text-shadow: 9px 10px 6px #999;
  }
  40% {
    text-shadow: 10px 15px 6px #ccc;
  }
  60% {
    text-shadow: 0px 10px 4px #ccc;
  }
  80% {
    text-shadow: -10px 8px 3px #ccc;
  }
  100% {
    text-shadow: 1px 5px 1px #eee;
  }
}

@keyframes textshadow {
  0% {
    text-shadow: 1px 1px 0px #333;
  }
  10% {
    text-shadow: 3px 3px 2px #333;
  }
  20% {
    text-shadow: 9px 10px 6px #999;
  }
  40% {
    text-shadow: 10px 15px 6px #ccc;
  }
  60% {
    text-shadow: 0px 10px 4px #ccc;
  }
  80% {
    text-shadow: -10px 8px 3px #ccc;
  }
  100% {
    text-shadow: 1px 5px 1px #eee;
  }
}

.district {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.user-description {
  font-family: Roboto, sans-serif;
  text-align: left;
}

@media (max-width: 768px) {
  .user-description {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.profile-row {
  padding: 2rem;
  height: auto;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

.description-row {
  color: black !important;
  min-height: 30vh;
  max-height: auto;
}

.description-box {
  max-width: 100%;
  max-height: 100%;
}

.skill-row {
  background-color: #0B132B;
}

.des-skill-row {
  background-color: #2581B0;
}

.tags {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  display: inline-block;
}

.skill-tags {
  background-color: #2581B0;
}

.des-skills-row {
  padding: 2rem;
  background-color: #0B132B;
  color: white;
}

.des-skill-tags {
  background-color: #0B132B;
}

.comm-row {
  background-color: #0B132B;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comm-tags {
  background-color: #2581B0;
}

.other-row {
  background-color: #2581B0;
}

.other-tags {
  background-color: #0B132B;
}

.contact-row {
  color: black;
}

.published-row {
  color: black;
}
/*# sourceMappingURL=main.css.map */