<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="description" content="a skill exchange website based in Berlin which seeks to connect developers and designers with each other who wish to exchange their skills.">
    <meta name="author" content="Carina Pöll">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tanDev - tandem exchanges for developers</title>
</head>
<body>
    
</body>
</html>