// This SCSS file contains components which are used only on about.html


@mixin height-scaling {
    height: 50vh;

    @media (min-width: $bp-ipadpro) {
        height: 80vh;
    }
}

.about-banner {

    background: url("/static/img/hero-cropped.jpg") center top no-repeat scroll;
    background-size: cover;
    @include height-scaling;


    @media (min-width: $bp-ipadpro) {


        background: url("/static/img/hero.jpg") center top no-repeat scroll;
        background-position: contain;

    }


}

.header-box {
    @include height-scaling;
}