// This SCSS file contains components which are used only on about.html

@import "_layout.scss";

@mixin about-height-scaling {
    height: 50vh;

    @media (min-width: $bp-ipadpro) {

        height: 80vh;
    }
}

.about-banner {

    background: url("/static/img/hero-cropped.jpg") center top no-repeat scroll;
    background-size: cover;
    @include about-height-scaling;


    @media (min-width: $bp-ipadpro) {


        background: url("/static/img/hero.jpg") center top no-repeat scroll;
        background-size: cover;
    }


}

.page-header-box {
    @include about-height-scaling;
}




.img-overlay-about {
    position: absolute;
    top: 10vh;
    left: 0;
        
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    height: 50vh;

    @media (min-width: $bp-ipadpro) {
        height: 80vh;
        top: 0;
    }

}

.about-text {

    width:75%;
    line-height: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 10vh;
}


.footer-p {
    margin: 0;
}

#about-text {
    background-color: white;
}

// Features Section

.features {
    max-width: 80%;
    margin: 0 auto;
}

.jumbotron {
    margin-bottom: 0 !important;
    padding-bottom: 5rem;
    padding-top: 0 !important;
    border-radius: 0;
}

.feature-icon {
    margin: 3vh;
}

.feature-header {
    margin-bottom: 2rem;
    color: $teal;
}