//Colors

$midblue:  #7791B4;
$brightmidblue: #2581B0;
$brightlightblue: #8EDAF4;
$lightblue: #B0C3D2;
$green: #049683;
$teal: #1C2541;
$darkblue: #0B132B;
$redbrown: #75424B;
$purplegrey: #574B60;
$pink: #ee4266;

// Media query breakpoints

$bp-mini: 576px;
$bp-mobile: 768px;
$bp-tablet: 992px;
$bp-ipadpro: 1024px;
$bp-desktop: 1200px;