// This SCSS file contains layouts and commonly occuring components across the pages.

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    max-width: 100%;

}

a {
    text-decoration: none !important;
    color: black;
}

.container-fluid {
    padding: 0;
}

//   NAVBAR STYLING

.navLogo {
    height: 8vh;
    width: 10vh;
    margin-left: 2vw;

    @media (min-width: $bp-ipadpro) {

        width: 15vh;

    }
}

.nav-link {

    color: $darkblue !important;

    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;

    @media(max-width: $bp-tablet) {
        color: white !important;
    }
    

}


.navbar-collapse {

    @media(max-width: $bp-tablet) {
        margin-right: 35%;
    }

}


.nav-link.scrolled {
    color: white !important;
}

.bg-light {
    background-color: transparent !important;

    @media(max-width: $bp-tablet) {
        background-color: $darkblue !important;
    }
}

.bg-light.scrolled {
    background-color: $brightmidblue !important;

    @media(max-width: $bp-tablet) {
        background-color: $darkblue !important;
    }
}


// Page Headers

.page-header {
    font-family: 'Montserrat', 700;
    color: white;
    text-shadow: 1em 0.5em $darkblue;
    text-transform: uppercase;

}