// This SCSS file contains layouts and commonly occuring components across the pages.

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 100%;
    font-size: 0.8em;

}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: black;
}

.container-fluid {
    padding: 0;
}

//   NAVBAR STYLING

.navLogo {
    height: 8vh;
    width: 10vh;
    margin-left: 2vw;

    @media (min-width: $bp-ipadpro) {

        width: 15vh;

    }
}

.nav-link {

    color: $darkblue !important;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    @media(max-width: $bp-tablet) {
        color: white !important;
    }


}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background-color: auto;
}


.navbar-collapse {

    @media(max-width: $bp-tablet) {
        margin-right: 35%;
    }

}

.navbar-toggler {
    background-color: white;
}


.nav-link.scrolled {
    color: white !important;
}

.bg-light {
    background-color: transparent !important;

    @media(max-width: $bp-tablet) {
        background-color: $darkblue !important;
    }
}

.bg-light.scrolled {
    background-color: $brightmidblue !important;

    @media(max-width: $bp-tablet) {
        background-color: $darkblue !important;
    }
}


// Page Headers

.page-header {
    font-family: 'Montserrat', 700;
    color: white;
    text-shadow: 1em 0.5em $darkblue;
    text-transform: uppercase;

}

h3.heading {
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-size: 1.6rem;
    font-family: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: block;
}

.heading-ul {
    width: 3rem;
    height: 0.2rem;
    background-color: $brightmidblue;
    margin: 0 auto 8vh;
    display: block;

}

.heading-ul-large {
    width: 30rem;
    height: 0.1rem;
    background-color: $brightmidblue;
    margin: 0 auto;
    display: block;

}

// Footer

footer {

    height: 28vh;
    position: relative;
    width: 100% !important;
    background-color: $darkblue;
    display: block;
    color: $brightmidblue;
    text-transform: uppercase;
    font-size: 0.7em;

    font-family: 'Montserrat', sans-serif;
    text-align: center !important;

    @media screen and (orientation: landscape) {
        font-size: 0.6em;
    }

    @media (min-width: $bp-mobile) {
        height: 18vh;
        font-size: 0.8em;    }

    @media (min-width: $bp-tablet) {
        height: 13vh;
    }

    @media (min-width: $bp-desktop) {
        height: 18vh;
    }

}

.fa-github {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.fa-github:hover {
    color: $brightmidblue;
}

.row {
margin-right: 0;
}

.footer {

    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 999;


}

.footer-col {
    @media (max-width: $bp-mobile - 1) {
margin: 1rem;
    }
}


.copyright {
    padding-bottom: 0.5rem;
    width: 100%;
    padding-right: 0 !important;
    margin-left: 0 !important;

}

col-4 {
    margin-left: 4vh;
}

ul {
    margin: 0;
}

.error > .message {
    color: $pink;
    font-size: 1.4em;
    font-weight: 700;
}

.success > .message {
    color: $green;
    font-size: 1.4em;
    font-weight: 700;
}

.flashes {
    margin-right: 1em;
    margin-top: 1em;
}
