.logreg-wrapper {
    height: 100vh;
    background: red;
}

.form-jumbo {
    width: 50%;
    height: 70vh;
    margin-top: 10vh;
    padding-top: 10vh;
}

.tab-nav-item {
    margin-top: 5vh;
    padding: 1em;
}