@import "_base.scss";


.logreg-wrapper {
    height: 120vh;
    background: url("/static/img/logreg-bg.jpg") center center no-repeat;
    background-size: cover !important;
    background-position: center center;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.form-jumbo {
    background: rgba(255, 255, 255, 0.3);
    width: 80%;
    height: auto;
    margin-top: 10vh;
    padding-top: 10vh;
    border-radius: 25px;

@media (min-width: $bp-mobile) {
    height: 60vh;
    padding-top: 10vh !important;
}
    @media (min-width: $bp-desktop) {

        width: 50%;
        height: auto;
    }
}

.form-row {
    margin: 0 !important;
}


.logreg-label {
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $darkblue;
}

.jumbo-content {
    margin-top: 5vh;

    @media (min-width: $bp-mobile) {
        max-width: 70%;
    }
}

.tab-nav-item {
    margin-top: 5vh;
    padding: 1em;
}

#registerform {
    margin-top: 5vh;
}

#loginform {
    margin-top: 5vh;
}

.logreg-btn {

    @include custom-btn;
    margin-left: 25%;

}


.logreg-btn:hover {
    @include custom-btn-hover;
}
