.myprofile-wrapper {
    height: auto;
}

.profile-group {
    width: 100%;
}

.welcome-row {
    height: 20vh;
    margin-top: 25vh;
}

#account-dropdown {
    background-color: $brightmidblue;

    @media (min-width: $bp-tablet) {
        margin-left: 5vw;
    }

}

.profile-selectpicker {
    max-width: 50%;
    display: inline;
}

.profile-skill-column {
padding: 0.3rem !important;
}

.profile-jumbo {
    margin-top: 5vh;
}