.user-wrapper{
    padding:6%;
    text-align:center;
    height: 100vh;
}

.user-content{
    padding: 5%;
    background:#fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.user-image{
    text-align:center;
    height: 50vh;
}

.user-image img{
    border-radius:50%;
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
}
.user-description {
    text-align:left;
}
.user-description p{
    font-weight:600;
    font-size:30px;
}

.tags {

    margin-left: 2rem;
}