.user-wrapper {
    padding: 6%;
    text-align: center;
    height: auto;
    position: relative;
}

.user-content {
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;

    @media (max-width: $bp-mobile) {
        height: 200vh;
    }
}

.user-image {
    text-align: center;
    height: 50vh;
}

.user-image img {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
    margin-top: 5vh;
}

.header-col {


    @media (min-width: $bp-mobile) {
    align-items: center;
    }
}

.tags {

    margin-left: 2rem;
}


.sm-logo {
    max-height: 5vh;
    max-width: 5vh;
    margin-left: 5vw;

}

.sm-logo-col {
    fill: $brightmidblue;
}

.heart-row {
display: flex;


}
[id="heart"] {
    position: absolute;
    left: -100vw;
}

[for="heart"] {
    color: $lightblue !important;
    cursor: pointer;
    font-size: 6em;
    align-self: center;
    transition: color 0.2s ease-in-out;
}

[for="heart"]:hover {
    color: grey !important;
}

[for="heart"]::selection {
    color: none;
    background: transparent;
}

[for="heart"]::moz-selection {
    color: none;
    background: transparent;
}

[id="heart"]:checked+label {
    color: $pink !important;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}



@keyframes heart {

    0%,
    17.5% {
        font-size: 0;
    }
}

#preview {
    margin-bottom: 5vh !important;
}

// Publish and discard changes buttons

.pubdisc-btn {

    @include custom-btn;
    margin: 0 3rem 3rem 3rem;

}

.pubdisc-btn:hover {
    @include custom-btn-hover;
}

.username {
    position: absolute;
top: 0;
margin-top: 5vh;
left: 0;
font-weight: 700;
color: $teal;
animation: textshadow 8s infinite alternate; 

@media (max-width: $bp-mobile) {
position: relative;
display: flex;
margin-top: 0;
}
}

@keyframes textshadow {
	0%   { text-shadow: 1px 1px 0px #333 }
	10%   { text-shadow: 3px 3px 2px #333 }
	20%  { text-shadow: 9px 10px 6px #999 }
	40%  { text-shadow: 10px 15px 6px #ccc }
	60%  { text-shadow: 0px 10px 4px #ccc }
	80%  { text-shadow: -10px 8px 3px #ccc }
	100%  { text-shadow: 1px 5px 1px #eee }
}


.district {
margin-top: 10vh;
}

.user-description {
    font-family: Roboto, sans-serif;
    text-align: left;;

    @media (max-width: $bp-mobile) {
    margin-left: 3rem;
    margin-right: 3rem;
    }
}

.profile-row {
    padding: 2rem;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

.skill-row {
    background-color: $darkblue;
}
.des-skill-row {
    background-color: $brightmidblue;
}

.tags {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    display: inline-block;
}

.skill-tags {
    background-color: $brightmidblue;
}

.des-skills-row {
    padding: 2rem;

    background-color: $darkblue;
    color: white;
}

.des-skill-tags {
    background-color: $darkblue;
}

.comm-row {
    background-color: $darkblue;
}

.comm-tags {
    background-color: $brightmidblue;
    display: block;
    width: auto;
}

.other-row {
    background-color: $brightmidblue;
}

.other-tags {
background-color: $darkblue;
}

.contact-row {
    color: black;
}

.published-row {
    color: black;
}

