.myprofile-wrapper {
    height: auto;
}

.profile-group {
    width: 100%;
}

.welcome-row {
    height: 20vh;
    margin-top: 25vh;
}

#account-dropdown {
    background-color: $brightmidblue;

    @media (min-width: $bp-tablet) {
        margin-left: 5vw;
    }

}

.profile-selectpicker {
    max-width: 50%;
    display: inline;
}

.profile-skill-column {
padding: 0.3rem !important;
}

.profile-heading {
    font-size: 1.6rem;
    font-family: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

.profile-jumbo {
    max-width: 80%;
    margin: 0 auto;
    border-radius: 25px;

    @media (max-width: $bp-mobile) {
        margin-top: 15vh;
    }
}

#profile-description {
    min-height: 15vh;
    height: auto;
    margin-bottom: 5vh;
}

.profile-messages {
    display: block;
    margin-top: 5vh;
}

.profile-label {
    margin-top: 2vh;
}

.profile-nav {
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
    margin-left: 10vw;
}

.profile-subnav {
    font-family: 'Share Tech Mono', monospace;
    margin-left: 10vw;
    min-height: 10vh;

    @media (max-width: $bp-mobile) {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

.profile-parts {
    width: auto;
    max-width: 80%;
    height: auto;
    max-height: 15vh;
    margin: 2rem auto;

}

.d-none {
    display: none;
}

.userarea-btn {

    @include custom-btn;
    margin: 0 3rem;

}

.userarea-btn:hover {
    @include custom-btn-hover;
}

#mobile-unpublish {
    margin-bottom: 10vh;
}