.user-wrapper {
    padding: 6%;
    text-align: center;
    height: auto;
    position: relative;
}

.user-content {
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: $bp-mobile) {
        height: 200vh;
        max-width: 80%;
    }
}

.user-image {
    text-align: center;
    height: 50vh;

    @media (max-width: $bp-mobile) {
        height: 40vh;
    }
}

.user-image img {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
    margin-top: 5vh;
}

.header-col {


    @media (min-width: $bp-mobile) {
    align-items: center;
    }
}

.tags {

    margin-left: 2rem;
}


.sm-logo {
    max-height: 5vh;
    max-width: 5vh;
    margin-left: 5vw;

}

.sm-logo-col {
    fill: $brightmidblue;
}

.heart-row {
display: flex;


}


#preview {
    margin-bottom: 5vh !important;
}

// Publish and discard changes buttons

.userarea-btn {

    @include custom-btn;
    margin: 0 3rem 3rem 3rem;

}

.userarea-btn:hover {
    @include custom-btn-hover;
}

.username {
margin-top: 5vh;
margin-bottom: 5vh;
max-width: 20vw;
font-weight: 700;
color: $teal;
animation: textshadow 8s infinite alternate; 

@media (max-width: $bp-mobile) {
position: relative;
display: flex;
margin-top: 0 !important;
}
}

@keyframes textshadow {
	0%   { text-shadow: 1px 1px 0px #333 }
	10%   { text-shadow: 3px 3px 2px #333 }
	20%  { text-shadow: 9px 10px 6px #999 }
	40%  { text-shadow: 10px 15px 6px #ccc }
	60%  { text-shadow: 0px 10px 4px #ccc }
	80%  { text-shadow: -10px 8px 3px #ccc }
	100%  { text-shadow: 1px 5px 1px #eee }
}


.district {
margin-top: 10vh;
}

.user-description {
    font-family: Roboto, sans-serif;
    text-align: left;;

    @media (max-width: $bp-mobile) {
    margin-left: 3rem;
    margin-right: 3rem;
    }
}

.profile-row {
    padding: 2rem;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

.description-row {
    color: black !important;
    min-height: 30vh;
    max-height: auto;
}

.skill-row {
    background-color: $darkblue;
}
.des-skill-row {
    background-color: $brightmidblue;
}

.tags {
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    display: inline-block;
}

.skill-tags {
    background-color: $brightmidblue;
}

.des-skills-row {
    padding: 2rem;

    background-color: $darkblue;
    color: white;
}

.des-skill-tags {
    background-color: $darkblue;
}

.comm-row {
    background-color: $darkblue;
    flex-wrap: wrap;
}

.comm-tags {
    background-color: $brightmidblue;

}

.other-row {
    background-color: $brightmidblue;
}

.other-tags {
background-color: $darkblue;
}

.contact-row {
    color: black;
}

.published-row {
    color: black;
}

