.myprofile-wrapper {
    height: 140vh;
}

.profile-group {
    width: 100%;
}

.welcome-row {
    height: 40vh;
}

#account-dropdown {
    background-color: $brightmidblue;

    @media (min-width: $bp-tablet) {
        margin-left: 5vw;
    }

}

.profile-selectpicker {
    max-width: 50%;
    display: inline;
}