.myprofile-wrapper {
    height: auto;
}

.profile-group {
    width: 100%;
}

.welcome-row {
    height: 20vh;
    margin-top: 25vh;
}

#account-dropdown {
    background-color: $brightmidblue;

    @media (min-width: $bp-tablet) {
        margin-left: 5vw;
    }

}

.profile-selectpicker {
    max-width: 50%;
    display: inline;
}

.profile-skill-column {
padding: 0.3rem !important;
}

.profile-heading {
    font-size: 1.6rem;
    font-family: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5vh;
}

.profile-jumbo {
    max-width: 80%;
    margin: 5vh auto;
    border-radius: 25px;
}

#profile-description {
    min-height: 15vh;
    height: auto;
    margin-bottom: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.profile-label {
    margin-top: 2vh;
}

.profile-nav {
    text-transform: uppercase;
    font-family: 'Share Tech Mono', monospace;
}