<!-- This page contains the skill list with checkboxes which is used in search.html. -->

<!-- The checkboxes rely on the awesome-bootstrap-checkboxes library from here: https://github.com/flatlogic/awesome-bootstrap-checkbox
The abc-checkbox class was edited by me in the downloaded css file to reflect tanDev brand colors. -->

<form role="form">
        <div class="row">
            <div class="col-6">
    
    
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsCSS" id="desiredSkillsCSS" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsCSS">
                        CSS
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsJS" id="desiredSkillsJS" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsJS">
                        JavaScript
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsReact" id="desiredSkillsReact" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsReact">
                        React
                    </label>
                </div>
    
    
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsVue" id="desiredSkillsVue" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsVue">
                        Vue
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsAngular" id="desiredSkillsAngular" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsAngular">
                        Angular
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsPHP" id="desiredSkillsPHP" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsPHP">
                        PHP
                    </label>
                </div>
    
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsRuby" id="desiredSkillsRuby" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsRuby">
                        Ruby
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsC++" id="desiredSkillsC++" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsC++">
                        C++
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsC#" id="desiredSkillsC#" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsC#">
                        C#
                    </label>
                </div>
    
            </div>
            <div class="col-6">
    
    
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsUX" id="desiredSkillsUX" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsUX">
                        UX
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsDesign" id="desiredSkillsDesign" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsDesign">
                        Web Design
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsSQL" id="desiredSkillsSQL" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsSQL">
                        SQL
                    </label>
                </div>
    
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsJava" id="desiredSkillsJava" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsJava">
                        Java
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsRust" id="desiredSkillsRust" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsRust">
                        Rust
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsGo" id="desiredSkillsGo" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsGo">
                        Go
                    </label>
                </div>
    
    
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsSwift" id="desiredSkillsSwift" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsSwift">
                        Swift
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsKotlin" id="desiredSkillsKotlin" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsKotlin">
                        Kotlin
                    </label>
                </div>
                <div class="form-check abc-checkbox ">
                    <input class="form-check-input" name="desiredSkillsPerl" id="desiredSkillsPerl" type="checkbox">
                    <label class="form-check-label" for="desiredSkillsPerl">
                        Perl
                    </label>
                </div>
            </div>
    
        </div>
    
    </form>