<form id="registerform">

    <div class="form-group">
        <label for="newUsername">Username</label>
        <p><small>Usernames must be unique.</small></p>
        <input type="text" class="form-control" id="newUsername" required>
    </div>
    <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Password" required>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="notBot" required>
        <label class="form-check-label" for="notBot">I am not a robot</label>
    </div>
    <button type="submit" class="btn btn-search">Register</button>

</form>