<!-- This page contains the skill list with checkboxes which is used in search.html. -->

<!-- The checkboxes rely on the awesome-bootstrap-checkboxes library from here: https://github.com/flatlogic/awesome-bootstrap-checkbox
The abc-checkbox class was edited by me in the downloaded css file to reflect tanDev brand colors. -->

<form role="form">
    <div class="row">
        <div class="col-6">


            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsCSS" id="skillsCSS" type="checkbox">
                <label class="form-check-label" for="skillsCSS">
                    CSS
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsJS" id="skillsJS" type="checkbox">
                <label class="form-check-label" for="skillsJS">JS
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsReact" id="skillsReact" type="checkbox">
                <label class="form-check-label" for="skillsReact">
                    React
                </label>
            </div>


            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsVue" id="skillsVue" type="checkbox">
                <label class="form-check-label" for="skillsVue">
                    Vue
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsAngular" id="skillsAngular" type="checkbox">
                <label class="form-check-label" for="skillsAngular">
                    Angular
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsPHP" id="skillsPHP" type="checkbox">
                <label class="form-check-label" for="skillsPHP">
                    PHP
                </label>
            </div>

            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsRuby" id="skillsRuby" type="checkbox">
                <label class="form-check-label" for="skillsRuby">
                    Ruby
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsC++" id="skillsC++" type="checkbox">
                <label class="form-check-label" for="skillsC++">
                    C++
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsC#" id="skillsC#" type="checkbox">
                <label class="form-check-label" for="skillsC#">
                    C#
                </label>
            </div>

        </div>
        <div class="col-6">


            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsUX" id="skillsUX" type="checkbox">
                <label class="form-check-label" for="skillsUX">
                    UX
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsDesign" id="skillsDesign" type="checkbox">
                <label class="form-check-label" for="skillsDesign">
                    Web Design
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsSQL" id="skillsSQL" type="checkbox">
                <label class="form-check-label" for="skillsSQL">
                    SQL
                </label>
            </div>

            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsJava" id="skillsJava" type="checkbox">
                <label class="form-check-label" for="skillsJava">
                    Java
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsRust" id="skillsRust" type="checkbox">
                <label class="form-check-label" for="skillsRust">
                    Rust
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsGo" id="skillsGo" type="checkbox">
                <label class="form-check-label" for="skillsGo">
                    Go
                </label>
            </div>


            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsSwift" id="skillsSwift" type="checkbox">
                <label class="form-check-label" for="skillsSwift">
                    Swift
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsKotlin" id="skillsKotlin" type="checkbox">
                <label class="form-check-label" for="skillsKotlin">
                    Kotlin
                </label>
            </div>
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="skillsPerl" id="skillsPerl" type="checkbox">
                <label class="form-check-label" for="skillsPerl">
                    Perl
                </label>
            </div>
        </div>

    </div>

</form>