<!-- This page contains the skill list with checkboxes which is used in search.html. -->

<!-- The checkboxes rely on the awesome-bootstrap-checkboxes library from here: https://github.com/flatlogic/awesome-bootstrap-checkbox
The abc-checkbox class was edited by me in the downloaded css file to reflect tanDev brand colors. -->

<form role="form">
    <div class="row">
        <div class="col-md-6">

{% for skill in skills % }
            <div class="form-check abc-checkbox ">
                <input class="form-check-input" name="{{skill}}" id="skill-check" type="checkbox">
                <label class="form-check-label" for="skillsCSS">
                    CSS
                </label>
            </div>

        </div>

{% endfor %}

    </div>

</form>